/* Card */

.cardcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.card {
  width: 70%;
  margin: 1em 0;

  border-radius: 20%;
  border: 0.1em solid rgb(255, 89, 89);
  box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(2, 10, 2, 0.8);
}

.cardbody p {
  display: inline;
  color: red;
}
.cardbody {
  width: 100%;
}
#cardmain {
  padding: 0 3rem;
}
@media (max-width: 600px) {
  .container {
    width: 92%;
  }
  .cardcontainer {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .card {
    width: 35%;
    margin: 1em 1em;
    border-radius: 15%;
  }
  .cardbody {
    width: 55%;
    /* display: flex;
    flex-direction: column; */
  }
  #cardmain {
    padding-left: 1px !important;
    padding-right: 2px;
  }
  .cardbody p {
    color: blue;
    width: 50%;
    display: inline;
    /* flex-flow: column; */
  }
}

/* ABOUT DETAIL */
.abouttext {
  font-size: 1.2em;
  font-weight: 300;
}
/* .card {
  width: 80%;
} */

#aboutdetail {
  font-size: 1em;
  font-weight: bold;
  opacity: 0.8;
}
#rotating-text2 {
  font-size: 40px;
}

@media (max-width: 600px) {
  .aboutbox {
    width: 100%;
  }

  .card-text {
    font-size: 10em;
  }
  .hero_resume_link {
    font-size: 10px;
  }

  .card-text {
    font-size: 10px;
  }
  /* .abouttext {
    font-size: 0.5em;
  } */
  /* #aboutdetail {
    font-size: 10px;
  } */
  .aboutbox1 {
    width: 100%;
  }
  #rotating-text2 {
    font-size: 15px;
  }
  .aboutbox1 img {
    width: 40%;
  }
}

/* Resume Hand Button */
.hero_resume_link {
  color: green;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  text-decoration: none;
  transition: 5s ease;
  position: relative;
}
.hero_resume_link figure {
  position: relative;
  color: yellowgreen;
  font-size: 20px;
  width: 40px;
  border-radius: 100%;
  height: 50px;
  padding: 1px;
  margin-right: 8px;
  display: inline-block;
  background-color: rgba(200, 200, 200, 0.5);
}
.hero_resume_link figure i {
  position: relative;
  font-size: 30px;
  margin-left: auto;
  margin-right: auto;
  vertical-align: middle;
}

.hero_resume_link:hover {
  color: blue;
}
