.container1 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
  
}

.box1 {
  background-color: black;
  color: aliceblue;
  width: 22.5%;
  padding: 2%;
  font-size: 15px;
  border: 1px solid red;
}

.box2 {
  background-color: brown;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  justify-content: center; 
  justify-items: stretch;
  width: 55%;
  margin: auto;
  padding: 2%;
  
  border: 1px solid red;
}
.checked{
  color:orange
}
.box2 span{
  font-size: 15px;
}
@media(max-width:600px) {
  .container1 {
    flex-direction: column;
  }

  .box1 {
    width: 100%;
  }
  .box2 span{
    font-size: 12px;
  }
  .box2 {
    width: 100%;
   }
  

}
